.app-title h1{
  text-align: center;
}

.container {
  padding: 60px;
}

.loader-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.filter-container {
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 24px;
  padding: 24px;
  position: sticky;
  top: 4px;
}

.filter-values {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.filter-component {
  margin: 0 24px;
}

.clean-filters-container {
  margin-bottom: 24px;
}